@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@theme {
  --font-sans: Roboto-Regular, sans-serif;
  --font-serif: Cooper, serif;
}

[data-theme='dark'] {
  .bg-navbar {
    background-color: #06d26a;
    background-image: linear-gradient(to right, #06d26a, #00918c);
  }
  .bg-footer {
    background-color: #263241;
    box-shadow: 0px 0px 0.5px 0.5px #000000;
  }
  .dropzone {
    background-color: #263241;
    border-color: #06d26a;
  }
  .inline-button {
    border-color: #06d26a;
    border-width: 1.5px;
    border-radius: 9999px;
    color: #eaeaea;
  }
  .inline-button:hover {
    border-color: #06d26a;
    border-width: 1.5px;
    border-radius: 9999px;
    color: #202936;
    background-color: #06d26a;
  }
  .outline-button {
    border-width: 0px;
    border-radius: 9999px;
    background-color: #06d26a;
    color: #263241;
  }
  .text-base-content {
    color: #eaeaea;
  }
  .highlight-color {
    color: #06d26a;
  }
  background-color: #202936;
  .svg-symbol {
    fill: #06d26a;
  }
  .svg-line {
    stroke: #06d26a;
  }
  .svg-icon {
    fill: #eaeaea;
  }
  .svg-icon:hover {
    fill: #06d26a;
  }
  .logo {
    fill: #202936;
  }
}

[data-theme='light'] {
  .bg-navbar {
    background-color: #ff3e3e;
    background-image: linear-gradient(to right, #ff3e3e, #ffa400);
  }
  .bg-footer {
    background-color: #fff8f9;
    box-shadow: 0px 0px 0.5px 0.5px #474f5a;
  }
  .dropzone {
    background-color: #fff8f9;
    border-color: #ff3e3e;
  }
  .inline-button {
    border-color: #ff3e3e;
    border-width: 1.5px;
    border-radius: 9999px;
    color: #474f5a;
  }
  .inline-button:hover {
    border-color: #ff3e3e;
    border-width: 1.5px;
    border-radius: 9999px;
    color: white;
    background-color: #ff3e3e;
  }
  .outline-button {
    border-width: 0px;
    border-radius: 9999px;
    background-color: #ff3e3e;
    color: white;
  }
  .text-base-content {
    color: #474f5a;
  }
  .highlight-color {
    color: #ff3e3e;
  }
  background-color: white;
  .svg-symbol {
    fill: #ff7917;
  }
  .svg-line {
    stroke: #ff3e3e;
  }
  .svg-icon {
    fill: #474f5a;
  }
  .svg-icon:hover {
    fill: #ff3e3e;
  }
  .logo {
    fill: white;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  @font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/Roboto-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Roboto-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Roboto-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Bold';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Roboto-Bold.ttf) format('truetype');
  }
}

#controlButton {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border-color: gray;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  opacity: 0.6;
  text-align: center;
  z-index: 500;
  margin-bottom: 10px;
}

#controlButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-touch .leaflet-bar a {
  width: 44px !important;
  height: 44px !important;
  font-size: 28px;
  padding: 5px;
}

.btn-nav {
  font-family: 'Roboto-Medium';
  background-color: transparent;
  border: none;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.btn-nav:hover {
  outline: 1px solid white;
}

.font-thin {
  font-weight: 100;
  font-family: Roboto-Thin;
}

.font-light {
  font-weight: 300;
  font-family: Roboto-Light;
}

.font-normal {
  font-weight: 400;
  font-family: Roboto-Regular;
}

.font-medium {
  font-weight: 500;
  font-family: Roboto-Medium;
}

.font-bold {
  font-weight: 700;
  font-family: Roboto-Bold;
}

.svg-stroke {
  fill: none;
  stroke: #06d26a;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0 0 3 3;
}

.svg-fill {
  stroke-width: 0px;
}
